name: Kashauna Lab 2 CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

       - name: Run Python file
        run: |
          ls
          python main.py


      - name: List files
        run: ls -la
